= form_for :imperavi_asset, :url => "", :html => {:id => "redactorInsertImageForm"} do |f|
  %table.redactor_ruler
    %tr
      %td{:colspan => "3"}
        = f.file_field :file
      %td
        = f.select :file_style, @file_styles

    %tr
      %td.small{:colspan => "4"}
        \%RLANG.image_web_link%
        %p
          %input#redactor_file_link{:name => "redactor_file_link", :size => "40"}/
    %tr
      %td.small{:nowrap => ""} %RLANG.title%
      %td
        %input#redactor_file_alt{:size => "20"}/
    %tr
      %td.small{:nowrap => ""} %RLANG.image_position%
      %td{:width => "100%"}
        %select#redactor_form_image_align
          %option{:value => "0"} %RLANG.none%
          %option{:value => "left"} %RLANG.left%
          %option{:value => "right"} %RLANG.right%
  %p
    %input#redactorUploadBtn{:name => "upload", :type => "button", :value => "%RLANG.insert%"}>/
    \&nbsp;&nbsp;
    %input{:name => "", :onclick => "RedactorActive.modalClose();", :type => "button", :value => "%RLANG.cancel%"}/
